{% extends 'JobApp/index.html' %}

{% block content %}
<main class="container">
    <h3 class="mt-5 mb-4">
        List of Compaines
    </h3>
    <div class="card-deck">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>
        </div>
    </div>
    <div class="card-deck mt-5">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>
        </div>
    </div>
    <div class="card-deck mt-5">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Company Name</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <p>Location: New Baneshor</p>
                <p>Contact: 123456789</p>
            </div>
        </div>
    </div>

</main>
{% endblock %}
