{% extends 'JobApp/index.html' %}

{% block content %}
<main class="container">
    <h3 class="mt-5 mb-5">
        Jobs Available
    </h3>
    <div class="card-deck mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
    </div>
    <div class="card-deck mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
    </div>
    <div class="card-deck mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Job title</h5>
                <p class="card-text">Job Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Debitis, quam.</p>
                <p class="card-text">Job Type: Full Time</p>
                <p class="card-text">Experience: Intermediate</p>
                <p class="card-text">Comapny Name: ABC</p>
            </div>
            <div class="card-footer">
                <small class="text-muted"><a href="">Details</a></small>
            </div>
        </div>
    </div>
</main>

{% endblock %}