{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}"><strong>JOB PORTAL</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="mr-auto"></div>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'job' %}">Jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'company' %}">Company</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-0  text-dark" href="#" id="navbarDropdownProfileLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'jobseeker_profile' %}">Job Seeker</a>
                    <a class="dropdown-item" href="{% url 'company_profile' %}">Employer</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'login' %}">LogIn</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-0  text-dark" href="#" id="navbarDropdownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Register As
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'register' %}">Job Seeker</a>
                    <a class="dropdown-item" href="{% url 'company_register' %}">Employer</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
